.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}
.text-adres {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-style: normal;
}
.link-adres {
  color: #434455;
  text-decoration: none;
}
.link-adres:hover,
.link-adres:focus {
  color: #404bbf;
}

.linktext:hover,
.linktext:focus {
  color: #404bbf;
}
.linktext {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
ul {
  list-style: none;
}
.first-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
button {
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.botton:hover,
.botton:focus,
.botton:active {
  color: #404bbf;
  background-color: #404bbf;
}
.title-box {
  background-color: #2e2f42;
}
.third-head {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.second-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.section-our-team {
  background-color: #f4f4fd;
}
.list-item-ourteam {
  background-color: #ffffff;
}
.text-footer {
  background-color: #2e2f42;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
